manifest {
	author = 'Sergej Nowoshilow'
    homePage = 'https://axolotl-omics.org'
    description = 'The pipeline runs the genome analysis pipeline using meryl and merqury'
    mainScript = 'Pipeline.nf'
    version = '1.0.0'
    nextflowVersion = '>=19.10'
}

executor {

	$local {
		cpus = 8
		memory = '32 GB'
	}

	$slurm {

		queueSize = 200
	}
}

timeline {

	enabled = true
}

report {

	enabled = true
}

singularity {

    enabled = true
}

process {

    withName: 'runFastQC' {

        executor = 'slurm'
        cpus = 16
        memory = { 10.GB * task.attempt }
        time = { 8.hour * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
        clusterOptions = { task.attempt < 2 ? '--qos=short' : '--qos=medium' }
        container = 'docker://docker.artifactory.imp.ac.at/tanakalab/merqury:master'
    }

    withName: 'trimReads' {

        executor = 'slurm'
        cpus = 8
        memory = { 16.GB * task.attempt }
        time = { 2.hour * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
        clusterOptions = '--qos=short'
        container = 'docker://docker.artifactory.imp.ac.at/tanakalab/merqury:master'
    }

    withName: 'countKmers' {

        executor = 'slurm'
        cpus = 8
        memory = { 200.GB * task.attempt }
        time = { 48.hour * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
        clusterOptions = '--qos=long --partition=m'
        container = 'docker://docker.artifactory.imp.ac.at/tanakalab/merqury:master'
    }

    withName: 'mergeMerylResults' {

        executor = 'slurm'
        cpus = 8
        memory = { 96.GB * task.attempt }
        time = { 144.hour * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
        clusterOptions = { task.attempt < 2 ? '--qos=long' : '--qos=long --partition=m' }
        container = 'docker://docker.artifactory.imp.ac.at/tanakalab/merqury:master'
    }

    withName: 'runQV' {

        executor = 'slurm'
        cpus = 1
        memory = { 16.GB * task.attempt }
        time = { 2.hour * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 4
        clusterOptions = '--qos=short'
        container = 'docker://docker.artifactory.imp.ac.at/tanakalab/merqury:master'
    }
}
